<div>
  <%= form_with model: @question do |f| %>
    <div>
      <%= f.label :body, "質問内容" %>
      <%= f.text_field :body %>
    </div>
    <div>
      <%= f.label :nickname, "ニックネーム" %>
      <%= f.text_field :nickname %>
    </div>
    <div>
      <%= f.label :breed_id, "犬種" %>
      <%= f.collection_select :breed_id, Breed.all, :id, :name, include_blank: true  %>
      <!-- 選択肢した値を入れる, 選択肢の元となるデータ, 選択肢の値となる属性, 選択肢の表示名になる属性 -->
    </div>
    <div>
      <%= f.label :age, "年齢" %>
      <%= f.number_field :age %>
    </div>
    <%= f.submit "質問する" ,class: "bg-brown text-ivory" %>
  <% end %>
</div>