<div class="justify-center items-center gap-y-8 p-10 mx-32 mt-7 bg-ivory text-brown">
  <div class="flex justify-between items-center">
    <div class="flex gap-x-6">
      <p><%= @question.nickname %></p>
      <p><%= @question.age %>歳</p>
      <!-- &.で、question.breedがnilでない時のみnameを呼び出す -->
      <p><%= @question.breed&.name %></p>
    </div>
    <p><%= @question.created_at.strftime('%Y/%m/%d') %></p>
  </div>
  <p class="mt-6"><%= @question.body %></p>
  <div id="stamps_<%= "#{@question.id}" %>" >
    <%= render partial: "stamps/stamp_buttons", locals: { stampable: @question, stamp_types: @question_stamp_types } %>
  </div>
</div>

<div class="justify-center items-center gap-y-8 p-4 mx-32 text-brown">
  <%= render 'question_answers/form', question_answer: @question_answer, question: @question %>
</div>
<div class="justify-center items-center gap-y-8 py-8 mx-32 my-7 text-brown">
  <%= render @question_answers %>
</div>

