<h2 class="text-brown text-2xl font-bold text-center my-6">ログイン</h2>
<div class="flex justify-center text-center">
  <div class="rounded-2xl p-8 w-full max-w-md text-center border-4 border-beige">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, "メールアドレス", class: "text-light-brown block mb-2 text-left" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "w-full border border-light-brown rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-beige mb-6" %>
      </div>

      <div class="field mb-4">
        <%= f.label :password, "パスワード", class: "text-light-brown block mb-2 text-left" %>
        <%= f.password_field :password, autocomplete: "current-password" ,class: "w-full border border-light-brown rounded-md p-2 focus:outline-none focus:ring-2 focus:ring-beige mb-6"%>
      </div>

      <div>
        <%= f.submit "ログイン", class: "bg-beige text-white rounded px-4 py-2 mb-4 font-bold" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, "ログイン状態を保持する", class: "text-light-brown" %>
        </div>
      <% end %>
    <% end %>
  </div>
  
</div>

<div class="text-center mt-6">
  <%= render "devise/shared/links" %>
</div>